<!DOCTYPE HTML>
<html lang="en-US" ng-app="riqDevApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RelateIQ API Reference</title>

  <!-- jquery, angular, fonts -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
  <script type="text/javascript" src="app/js/angular-route.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet' type='text/css'>

  <!-- bootstrap -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

  <!-- prettify -->
  <script type="text/javascript" src="app/js/prettify.js"></script>
  <link rel="stylesheet" type="text/css" href="app/css/tomorrow-night-eighties.css" />

  <!-- app -->

  <link rel="stylesheet" type="text/css" href="app/css/main.css">
  <script type="text/javascript" src="app/js/app.js"></script>



</head>
<body ng-controller="ListCtrl" id="scroller" scroll-spy>

  <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img class="logo" src="app/img/logo-relateiq-app.png">
        <span class="logo-text">Dev</span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#">documentation</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->

  </nav>

  <aside>
    <div data-spy="affix" data-offset-top="50">
      <div class="form-container">
        <input class="form-control" ng-model="query" placeholder="Search API sections">
      </div>

      <ul id="sideNav" class="nav nav-pills nav-stacked">
        <div ng-repeat="superSection in docs.superSections | filter:query" ng-if="superSection.sections">
          <li class="nav-supersection">
            <a scroll-to="{{superSection.link}}">
              {{ superSection.title }}
            </a>
          </li>
          <div ng-repeat="section in superSection.sections | filter:query">
            <li scroll-to="{{section.link}}" class="nav-section">
              <a scroll-to="{{section.link}}">
                {{ section.title }}
              </a>
              <ul class="nav nav-subsection">
                <li ng-if="section.subSections" ng-repeat="subSection in section.subSections | filter:query" scroll-to="{{subSection.link}}">
                  <a scroll-to="{{subSection.link}}">
                    {{ subSection.title }}
                  </a>
                </li>
              </ul>
            </li>
          </div>
        </div>
      </ul>
    </div>

  </aside>

  <main check-load>
    <div class="main-container">
      <div class="row code-nav-row">
        <div class="col-xs-6">
        </div>
        <div class="col-xs-6 code-nav">
          <ul class="nav nav-pills" data-spy="affix" data-offset-top="50">
            <li ng-repeat="language in docs.languages" ng-class="{active: langSlug == language }">
              <a ng-click="langChange(language)">
                {{language}}
              </a>
            </li>
            <li class="dropdown settings-toggle">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-cog"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <form class="navbar-form">
                    <input type="text" class="form-control" ng-model="tokenID">
                  </form>
                </li>
                <li>
                  <form class="navbar-form">
                    <input type="text" class="form-control"  ng-model="tokenSecret">
                  </form>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="super-section" ng-repeat="superSection in docs.superSections">
        <div ng-if="superSection.description" id="{{superSection.link}}" class="row">

          <div class="desc-col col-xs-6">
            <div ng-include="superSection.description"></div>
          </div>

          <div class="code-col col-xs-6">
            <pre class="prettyprint" ng-if="superSection[langSlug]" ng-include="superSection[langSlug]"></pre>
            <pre class="prettyprint" ng-if="!superSection[langSlug] && superSection.default" ng-include="superSection.default"></pre>
            &nbsp;
          </div>

          <div class="clearfix"></div>

        </div>

        <div class="section" ng-repeat="section in superSection.sections">
          
          <div id="{{section.link}}" class="row">
            
            <div class="desc-col col-xs-6">
              <h1>{{ section.title }}</h1>
              <div ng-include="section.description"></div>
            </div>

            <div class="code-col col-xs-6">
              <pre class="prettyprint" ng-if="section[langSlug]" ng-include="section[langSlug]"></pre>
              <pre class="prettyprint" ng-if="!section[langSlug] && section.default" ng-include="section.default"></pre>
              &nbsp;
            </div>

            <div class="clearfix"></div>

          </div>


          <div class="sub-section" ng-if="section.subSections != ''" ng-repeat="subSection in section.subSections" id="{{subSection.link}}" class="row">
            
            <div class="desc-col col-xs-6">
              <h2>{{ subSection.title }}</h2>
              <div ng-include="subSection.description" onload="lastLoad($last)"></div>
            </div>

            <div class="code-col col-xs-6">
              <pre class="prettyprint" ng-if="subSection[langSlug]" ng-include="subSection[langSlug]"></pre>
              <pre class="prettyprint" ng-if="!subSection[langSlug] && subSection.default" ng-include="subSection.default"></pre>
              &nbsp;
            </div>

            <div class="clearfix"></div>

          </div>

        </div>
      </div>
    </div>
  </main>
  <div class="clearfix"></div>
</body>
</html>
