<div class="row">
  <div data-spy="affix" data-offset-top="60" class="col-sm-6 col-sm-offset-6">
    <ul class="nav nav-pills">
      <li ng-repeat="language in docs.languages" ng-class="{active: $route.current.activetab == 'ruby'}">
        <a ng-href="/#/{{language}}" ng-click="changeUrl()">
          {{language}}
        </a>
      </li>
    </ul>
  </div>
</div>
{{langSlug}}

<div class="super-section" ng-repeat="superSection in docs.superSections">
  <div ng-if="superSection.description" class="row">
    <div class="col-sm-6">
      <div ng-include="superSection.description"></div>
    </div>
    <div class="col-sm-6">
      <div ng-if="superSection.ruby != '' ">
        <div ng-include="superSection.ruby"></div>
      </div>
      <div ng-if="superSection.curl != '' ">
        <div class="ng-include: superSection.curl"></div>
      </div>
    </div>
  </div>

  <div class="section" ng-repeat="section in superSection.sections">
    
    <div ng-if="section.description" class="row">
      <div class="col-sm-6">
        <div ng-include="section.description"></div>
      </div>
      <div class="col-sm-6">
        <div ng-if="section.ruby != '' ">
          {{ section.ruby }}
        </div>
        <div ng-if="section.curl != '' ">
          {{ section.curl }}
        </div>
      </div>
    </div>

    <div ng-show="section.subSections != '' ">

      <div class="sub-section" ng-repeat="subSection in section.subSections" class="row">
        <div class="col-sm-6">
          <div ng-include="subSection.description"></div>
        </div>

        <div class="col-sm-6">
          <code ng-if="subSection.ruby != '' " ng-include="subSection.ruby"></code>
          <code ng-if="subSection.lang != '' " ng-include="subSection.curl"></code>
          </code>
        </div>
      </div>
    </div>
  </div>
</div>